In [ ]:
print('hello world')

hello world

In [ ]:
def kiran():
  print("hello kiran gajjana")

In [ ]:
kiran()

hello kiran gajjana

In [ ]:
for i in range(5):
  print("hello kiran gajjana")
print("welcome to my house kiran gajjana")

hello kiran gajjana
hello kiran gajjana
hello kiran gajjana
hello kiran gajjana
hello kiran gajjana
welcome to my house kiran gajjana

In [ ]:
for i in range(5): #this loop will iterate and prints the content for 5 time
  print('hello kiran gajjana')

hello kiran gajjana
hello kiran gajjana
hello kiran gajjana
hello kiran gajjana
hello kiran gajjana

In [ ]:
#hi we have to write the commments by following these syntax
"""
hello kiran gajjana this is the comments section
"""

'\nhello kiran gajjana this is the comments section\n'

In [ ]:
a=5
name='kiran gajjana' #in python there is no need to declare with the particular type
b=7.5

In [ ]:
type(a)

int

In [ ]:
type(str(a))

str

In [ ]:
#camel case where we will use the first word is small and the remaining words will be capital
#example:myKiranDate
#pascal case where each word will starts with the capital words only
#example:MyNameKiran
#snake case where each word is seperated with the _
#my_name_kiran

In [ ]:
#we can assign multiple values to the variables at one
x,y,z="kiran gajjana","tejeswar gajjana","lokesh gajjana"

In [ ]:
#we can also asign multiple varible
x=y=z="kiran gajjana"

In [ ]:
#unpacking the list items into a variable

In [ ]:
name=['kiran gajjana','teja gajjana','lokesh gajjana']

In [ ]:
x,y,z=name

In [ ]:
x

'kiran gajjana'

In [ ]:
y

'teja gajjana'

In [ ]:
z

'lokesh gajjana'

In [ ]:
#unpacking tuples
name1=('kiran gajjna','teja gajjana','haran gajjana')

In [ ]:
x,y,z=name1

In [ ]:
#we will be using astric if we want to store the list items into the variable if in case the list variables are small than the items inside the list then if we will asign the astric then the litems reammaing will be asigned to this variable as a list

In [ ]:
name=["Abhishek","Deepak","Saket","Yetendra","Suman som","Soham biswas","Kiran gajjana","Dorothy Barman","Sreyashi Karamakar","Anurag Maurya","Bipal Khanal"]
x,*y,z=name

In [ ]:
x

'Abhishek'

In [ ]:
y

['Deepak',
 'Saket',
 'Yetendra',
 'Suman som',
 'Soham biswas',
 'Kiran gajjana',
 'Dorothy Barman',
 'Sreyashi Karamakar',
 'Anurag Maurya']

In [ ]:
z

'Bipal Khanal'

In [ ]:
a="hello"
b="kiran"
c="gajjana"
print(a,b,c)

hello kiran gajjana

In [ ]:
print(a+" "+b+" "+c)

hello kiran gajjana

In [ ]:
a=5
b="kiran gajjana"
print(str(a)+b)

5kiran gajjana

In [ ]:
#variable outside the function
x="kiran gajjana"
def kiran():
  x="haran gajjana"
  print("hello mr."+x+"welcome to my blog!")

In [ ]:
kiran()

hello mr.haran gajjanawelcome to my blog!

In [ ]:
#using globalvariables  inside the functions
def kiran():
  global x
  x="kiran gajjana"
  print("hello mr."+ x)
def teja():
  print("hello mr."+ x)

In [ ]:
teja()

hello mr.kiran gajjana

In [ ]:
#types of datatypes in python
# 1.text=str
# 2.numeric=int,float,complex
# 3.sequence=list,tuple,range
# 4.mapping=dict
# 5.set type=sets,frozen sets
# 6.boolean=bool
# 7.binary types=bytes,bytearray,memoryview
# 8.Nonetype=Nonetype

In [ ]:
#check string
string="hello kiran gajjana how are you"
print("how" in string)

True

In [ ]:
#check string use if statement
string1="hello kiran gajjana you are selected for the role of the mtech intern we are offering you 50000 as a stifund for  the internsip are you interested"
if "you are selected" in string1:
  print("Congratulations you are selected")

Congratulations you are selected

In [ ]:
if "haran gajjana" not in string1:
  print("sorry your name is not present")

sorry your name is not present

In [ ]:
#operators in python

In [ ]:
# 1.Arithemetic operators
# 2.Asignment Operators
# 3.Comparision Operators
# 4.Logical Operators
# 5.Identical Operators
# 6.Membership Operators
# 7.Bitwise Operators

In [ ]:
#Logical Operators and
if 5>2 and 10<1:
  print("hello welcome to sikkim")

In [ ]:
#logical operator or
if 5<10 or 10>2:
  print("hello welcome to odissa")

hello welcome to odissa

In [ ]:
#conditional statements
height=int(input("enter your height"))
if height>5:
  print("welcome to nit sikkim")
else:
  print("sorry we cant move forward with this pplication")

enter your height10
welcome to nit sikkim

In [ ]:
#check wether the given number is even or odd
number=int(input("enter any number:"))
if number%2==0:
  print("the given number is even")
else:
  print("the given number is odd")

enter any number:10
the given number is even

In [ ]:
#nested if else conditional ststements
name=input("enter the naame of shopping mall you want to enter:")
if name=='more':
  print("welcome to the more super market")
  fruits=input("enter the fruits you want to buy")
  if fruits=="apple":
      print("Apples are available")
  else:
      print("the above fruits are not available")
else:
  print("enter the correct option for further reference")

enter the naame of shopping mall you want to enter:more
welcome to the more super market
enter the fruits you want to buyapple
Apples are available

In [ ]:
#check wether the given year is leap year or not
year=int(input("enter the year you want to check:"))
if(year%4==0):
  if(year%100==0):
    if(year%400==0):
      print("the given year is leap year")
    else:
      print("the given year is not a leap year")
  else:
    print("the given year is a leap year")
else:
  print("the given year is not a leap year")

enter the year you want to check:2024
the given year is a leap year

In [ ]:
# program to check elif
number=int(input("enter a number you want to enter"))
if(number==1):
  print("The given number is one")
elif(number==2):
  print("the given number is two")
else:
  print("please press any correct button for further references")

enter a number you want to enter1
The given number is one

In [ ]:
#python list
list=[1,5.5,'kirangajjana',True,1.5]
print(list)

[1, 5.5, 'kirangajjana', True, 1.5]

In [ ]:
list[1]

5.5

In [ ]:
for i in range(5):
  print(list[i])

1
5.5
kirangajjana
True
1.5

In [ ]:
#sorting in list
list=['Abhishek','Deepak','Saket','Yetendra','Suman som','Sohaam biswas','Kiran gajjana','Dorothy Barman','Sreyashi Karmarkar','Anurag Maurya','Bipal Khanal']

In [ ]:
a=list.sort()

In [ ]:
print(a)

None

In [ ]:
list.append(['kiran gajjana'])

In [ ]:
list.pop()

['kiran gajjana']

In [ ]:
list

['Abhishek',
 'Anurag Maurya',
 'Bipal Khanal',
 'Deepak',
 'Dorothy Barman',
 'Kiran gajjana',
 'Saket',
 'Sohaam biswas',
 'Sreyashi Karmarkar',
 'Suman som',
 'Yetendra']

In [ ]:
list.append('kiran gajjana')

In [ ]:
list

['Abhishek',
 'Anurag Maurya',
 'Bipal Khanal',
 'Deepak',
 'Dorothy Barman',
 'Kiran gajjana',
 'Saket',
 'Sohaam biswas',
 'Sreyashi Karmarkar',
 'Suman som',
 'Yetendra',
 'kiran gajjana']

In [ ]:
#if we want to insert at the specific position then we need to use insert
list.insert(2,'harshita patnaik')

In [ ]:
list

['Abhishek',
 'Anurag Maurya',
 'harshita patnaik',
 'Bipal Khanal',
 'Deepak',
 'Dorothy Barman',
 'Kiran gajjana',
 'Saket',
 'Sohaam biswas',
 'Sreyashi Karmarkar',
 'Suman som',
 'Yetendra',
 'kiran gajjana']

In [ ]:
list.extend(['teja gajjana','lokeswara rao gajjana','kalpana ganna','sudhakar rao murala','vijaya kumar murala'])

In [ ]:
list

['Abhishek',
 'Anurag Maurya',
 'harshita patnaik',
 'Bipal Khanal',
 'Deepak',
 'Dorothy Barman',
 'Kiran gajjana',
 'Saket',
 'Sohaam biswas',
 'Sreyashi Karmarkar',
 'Suman som',
 'Yetendra',
 'kiran gajjana',
 'teja gajjana',
 'lokeswara rao gajjana',
 'kalpana ganna',
 'sudhakar rao murala',
 'vijaya kumar murala']

In [ ]:
list[1:4]=['Dheekshita murala','puneeth sai murala','jhasmita murala']

In [ ]:
list

['Abhishek',
 'Dheekshita murala',
 'puneeth sai murala',
 'jhasmita murala',
 'Deepak',
 'Dorothy Barman',
 'Kiran gajjana',
 'Saket',
 'Sohaam biswas',
 'Sreyashi Karmarkar',
 'Suman som',
 'Yetendra',
 'kiran gajjana',
 'teja gajjana',
 'lokeswara rao gajjana',
 'kalpana ganna',
 'sudhakar rao murala',
 'vijaya kumar murala']

In [ ]:
list.remove('kiran gajjana')

In [ ]:
list

['Abhishek',
 'Dheekshita murala',
 'puneeth sai murala',
 'jhasmita murala',
 'Deepak',
 'Dorothy Barman',
 'Kiran gajjana',
 'Saket',
 'Sohaam biswas',
 'Sreyashi Karmarkar',
 'Suman som',
 'Yetendra',
 'teja gajjana',
 'lokeswara rao gajjana',
 'kalpana ganna',
 'sudhakar rao murala',
 'vijaya kumar murala']

In [ ]:
list.count('kiran gajjana')

0

In [ ]:
# #list addition methods
# 1.list.append() adds the list item at the end of the list
# 2.list.insert() inserts the list item at the specific position_to_cursor
# 3.we can add the list to specific list by giving the number/index of the element we want to accesslist[1]

In [ ]:
#list to remove the elements of the list
list.remove('Suman som')

In [ ]:
list

['Abhishek',
 'Dheekshita murala',
 'puneeth sai murala',
 'jhasmita murala',
 'Deepak',
 'Dorothy Barman',
 'Kiran gajjana',
 'Saket',
 'Sohaam biswas',
 'Sreyashi Karmarkar',
 'Yetendra',
 'teja gajjana',
 'lokeswara rao gajjana',
 'kalpana ganna',
 'sudhakar rao murala',
 'vijaya kumar murala']

In [ ]:
list.pop()

'vijaya kumar murala'

In [ ]:
list.count('Abhishek')

1

In [ ]:
#random module
import random
a=random.randint(1,5)
print(a)

3

In [ ]:
b=random.randrange(1,3)
print(b)

2

In [ ]:
c=random.random() #by default random will give the number between 0.0 to 1.0
print(c)

0.5242331676716577

In [ ]:
c=random.uniform(1,3) #if we want a random flot between the specific range then we need to use random.uniform
print(c)

2.960932926676711

In [ ]:
d=random.choice(list) #we will use the choice metohod if we want to select the element of the list randomly then we will select this list
print(d)

Kiran gajjana

In [ ]:
e=random.shuffle(list)
print(e)

None

In [ ]:
list

['Abhishek',
 'Dorothy Barman',
 'sudhakar rao murala',
 'jhasmita murala',
 'Sreyashi Karmarkar',
 'teja gajjana',
 'Saket',
 'Kiran gajjana',
 'puneeth sai murala',
 'Sohaam biswas',
 'lokeswara rao gajjana',
 'Dheekshita murala',
 'kalpana ganna',
 'Deepak',
 'Yetendra']

In [ ]:
new=[1,2,3,4,5]

In [ ]:
random.shuffle(new)

In [ ]:
#heads or tails program using random module
import random
side=random.randint(0,1)
if(side==0):
  print("Heads")
else:
  print("Tails")

Tails

In [ ]:
#using random module we are going to program that who will pay the bill
import random
newlist=['kiran gajjana','shubhani singh','srikhant','sayan','Abhishek']
sel=random.choice(newlist)
if(sel=='kiran gajjana'):
  print("kiran gajjana has to pay the bill")
elif(sel=='shubhani singh'):
  print("shubhani singh will have to pay the bill")
elif(sel=='srikhant'):
    print("srikhant has to pay the bill")
elif(sel=='sayan'):
  print("sayan has to pay the bill")
elif(sel=='Abhishek'):
  print("Abhishek has to pay the bill")
else:
  print("please select from your side only")

kiran gajjana has to pay the bill

In [ ]:
print(f"hello mr.{list[2]}")

hello mr.sudhakar rao murala

In [ ]:
#nested list
list1=['kiran gajjana','harsha juttu','swaroop kumar',['Abhishek','Deepak','Saket','Yetendra']]

In [ ]:
list1[3][0]

'Abhishek'

In [ ]:
#coding problem
row1=['kiran gajjana','teja gajjana','lokesh gajjana']
row2=['kiran gajjana','teja gajjana','lokesh gajjana']
row3=['kiran gajjana','teja gajjana','lokesh gajjana']
print(f"{row1}\n{row2}\n{row3}")
new=[row1,row2,row3]
row=int(input("enter the row in which you want to hide your money"))
column=int(input("enter the element in which you want to hide your money just press the index to hide your money"))
new[row][column]='X'
print(f"{row1}\n{row2}\n{row3}")

['kiran gajjana', 'teja gajjana', 'lokesh gajjana']
['kiran gajjana', 'teja gajjana', 'lokesh gajjana']
['kiran gajjana', 'teja gajjana', 'lokesh gajjana']
enter the row in which you want to hide your money0
enter the element in which you want to hide your money just press the index to hide your money0
['X', 'teja gajjana', 'lokesh gajjana']
['kiran gajjana', 'teja gajjana', 'lokesh gajjana']
['kiran gajjana', 'teja gajjana', 'lokesh gajjana']

In [ ]:
#we will be learning tuples
newtupe=(1)#if we store one element inside the tuple then we cant say that as a tuple by default it will be a integer
newtupe1=(2,)#in order to create a single tuple  variable then we should keep ,after the tuple variable
print(type(newtupe))
print(type(newtupe1))

<class 'int'>
<class 'tuple'>

In [ ]:
#we will access the tuple by using the index and square brackets as if like lists
tuple=(1,2.2,'kiran gajjana','5+ij')

In [ ]:
tuple[3]

'5+ij'

In [ ]:
tuple[1:]

(2.2, 'kiran gajjana', '5+ij')

In [ ]:
tuple[-1]

'5+ij'

In [ ]:
tuple[::2]

(1, 'kiran gajjana')

In [ ]:
#tuple concatination
tuple1=(1,2,3,4,5,6,7,8,9,10)
tuple2=(11,12,13,14,15,16,17,18,19,20)
tuple3=(tuple1,tuple2)

In [ ]:
print(tuple3)

((1, 2, 3, 4, 5, 6, 7, 8, 9, 10), (11, 12, 13, 14, 15, 16, 17, 18, 19, 20))

In [ ]:
tuple4=tuple1+tuple2 #concatination of the both the tuples

In [ ]:
tuple4

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [ ]:
tuple3[1][2]

13

In [ ]:
#sets in python
set1={1,2,3,4,5,5,6,6,6,6,7,7,7,7,8,8,8,8,9,9,9,9,10,1,10,True}

In [ ]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#sets are mutable

In [ ]:
#sets will not allow any repeated elemnets inside the set
#if in set of we are having True and 1 by default set will think both the true and 1 as 1 so the repeated item will be removed and only 1 will be printed
#sets are unorderd there wll be no order for the sets

In [ ]:
#inpython we cant keep an empty set by default that empty set will we dictionary

In [ ]:
#inorder to keep an empty set in python we need to keep that as set=set()

In [ ]:
set1=set()
type(set1)

set

In [ ]:
set1={}
type(set1)

dict

In [ ]:
set={1,2,3,4,56,7}

In [ ]:
set.add(4)

In [ ]:
set

{1, 2, 3, 4, 7, 56}

In [ ]:
set.remove(1)

In [ ]:
set

{2, 3, 4, 7, 56}

In [ ]:
set.discard(2)

In [ ]:
set

{3, 4, 7, 56}

In [ ]:
set.discard(2)

In [ ]:
set

{3, 4, 7, 56}

In [ ]:
#add
#remove
#discard
#pop() will remove any random item from the set

In [ ]:
set.pop()

56

In [ ]:
set

set()

In [ ]:
set.add(10)

In [ ]:
#we can add tuple inside the set
set.add((1,2,3,4))

In [ ]:
set

{(1, 2, 3, 4), 10}

In [ ]:
#operations in sets
set1={1,2,3,4,5}
set2={1,2,7,8,9}
b=set1.union(set2)

In [ ]:
b

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
set1.update(set2)

In [ ]:
set1

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
set1.intersection(set2)

{1, 2, 7, 8, 9}

In [ ]:
#for loops is a iterative statement rather than any other like in our programming languages
squares=[]
for i in set1:
  square=i**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 49, 64, 81]

In [ ]:
set1

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
squares

[1, 4, 9, 16, 25, 49, 64, 81]

In [ ]:
#for loop with else
for i in squares:
  print(i)
  # if i == 16:
  #   break
else:
  print("your for loop has been executed successfully")
print("out of the for loop")

1
4
9
16
25
49
64
81
your for loop has been executed successfully
out of the for loop

In [ ]:
#functions with arguments
def kiran(name):
  print(f"hello mr.{name}")
  print(f"{name} are you from computer science department")

In [ ]:
kiran("kiran")

hello mr.kiran
kiran are you from computer science department

In [ ]:
#arbitary positional arguments
def kiran(*numbers):
  c=0
  for i in numbers:
    c=c+i
  print(f"the value of {c}")

In [ ]:
kiran(1,2)

the value of 3

In [ ]:
#arbitary keyword arguments
def kirannew(**kargs):
  for key,val in kargs.items():
    print(key,val)

In [ ]:
kirannew(name="kiran")

name kiran

In [ ]:
dict={
       'name':"kiran"
}

TypeError: ignored

In [ ]:
a=10
def kiran():
  global a
  print(f"the value of a is {a}")

In [ ]:
kiran()

the value of a is 10

In [ ]:
#classes in python
class NameDay:
  pass
instructor1=NameDay()